<div class="thread-container" [class.mat-elevation-z3]="true">  
  <div class="thread-header">
      <div style="color: grey; font-size: 0.82vw; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Poster Name</div>
      <div style="color: black; font-size:1.6vw; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-bottom: 0.5vw">Thread Name</div>
      
  </div>
  <div class="complete-divider"></div>
  <div class="thread-content">
      <p style="font-size: 0.75vw; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> content content content content content content content content content </p>
  </div>


</div>