<div class="main-container"  [class.mat-elevation-z3]="true">
    
        <div class="content-container">
    
            <div class="left-panel">
                <div class="logo-container">
                    <img src="../../../assets/lmslogo.png">
                </div>
                <div class="partial-divider"></div>
                <div class="left-panel-content">
    
                </div>
    
            </div>
    
            <div class="right-panel">
    
                <div class="right-panel-header">
                  
                  <div class="header-buttons">
                    <button>Button</button>
                    <button>Button1</button>
                    <button>Button2</button>
                    <mat-button-toggle-group #group="matButtonToggleGroup" style="margin-left: 31.6vw;" value="left">
                        <mat-button-toggle value="left" aria-label="Text align left" routerLink="/tileView" >
                          <mat-icon>view_stream</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="right" aria-label="Text align center" routerLink="/listView">
                          <mat-icon>view_module</mat-icon>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                  </div>
    
                 
    
    
                </div>
                <div class="complete-divider"></div>
                <div class="right-panel-content">
                  <span style="margin-left: 49.27vw; margin-bottom: 1vw">
                    <button mat-raised-button routerLink="/newThread" *ngIf="router.url != '/newThread'">New Thread</button> </span>
                    
                <router-outlet></router-outlet>
                   
                </div>
    
                
            </div>
    
        </div>
    </div>
    
    