<div class="main-container"  [class.mat-elevation-z3]="true">
    
        <div class="content-container">
    
            <div class="left-panel">
                <div class="logo-container" routerLink="/faculties" (click)="setActivePage()">
                    <img src="../../../assets/lmslogo.png">
                </div>
                <div class="partial-divider"></div>
                <div *ngIf="currentPage === 1">
                  <app-left-panel-content-faculty></app-left-panel-content-faculty>
                </div>

                <div *ngIf="currentPage === 2">
                  <app-left-panel-content-course></app-left-panel-content-course>
                </div>

                <div *ngIf="currentPage === 3">
                  <app-left-panel-content-course></app-left-panel-content-course>
                </div>
    
            </div>
    
            <div class="right-panel">
    
                <div class="right-panel-header">
                  
                  <div class="header-buttons">
                    <button routerLink="/login" style="margin-left: 51.6vw;" *ngIf="!isLoggedIn">Login</button>
                    <button (click)="onLogout()" style="margin-left: 50.6vw;" *ngIf="isLoggedIn">Log out</button>
                  </div>
                </div>
                <div class="complete-divider"></div>
                <div class="right-panel-content">
                  
                    
                <router-outlet (activate)="getCurrentPage()"></router-outlet>
                   
                </div>
    
                
            </div>
    
        </div>
    </div>
    
    