<div class="thread-container" [class.mat-elevation-z3]="true">
  <div class="thread-header"></div>

  <div class="content-container">
    <div class="poster-info">
      <div class="info">
        <span style="font-size:0.7vw; font-weight: 660"> {{thread.author.registeredUser.username}} </span>
        <br>
        <span style="font-size:0.7vw; ">administrator</span>
      </div>
    </div>
    <div class="thread-content">

      <div class="thread-name">
        <span style="font-size: 0.865vw; font-weight: 525;">ime teme</span>
      </div>
      <div class="partial-divider"></div>
      <div class="content">
        <span style="font-size: 0.865vw; font-weight: 300;">
          {{thread.content}}
        </span>
      </div>

    </div>


  </div>

  <div class="thread-footer">
    <span style="float: right; margin-right: 2vw; font-size: 0.6; cursor: pointer; color:rgb(77, 77, 77)" (click)="openReply()" class="reply-button">reply</span>
  </div>

</div>

<div class="new-reply-container" *ngIf="showReply" [class.mat-elevation-z3]="true">
  <div class="header">
    <span style="font-weight: 525">New Reply</span>
    <span style="position: absolute; left:91%; cursor: pointer;" (click)="closeReply()">x</span>
  </div>
  <div class="content-input">
    <textarea name="" id="" cols="143" rows="10" class="reply-content" placeholder="Reply content.."></textarea>
  </div>

  <button mat-raised-button style="width: 6vw; margin-top:1vw; margin-left:48.2vw">Post</button>


  


</div>


<div class="reply-container" [class.mat-elevation-z3]="true" *ngFor="let reply of replies;">
  <div class="thread-header"></div>

  <div class="content-container">
    <div class="reply-poster-info">
      <div class="info">
        <span style="font-size:0.7vw; font-weight: 660"> {{reply.author.registeredUser.username}} </span>
        <br>
        <span style="font-size:0.7vw; ">administrator</span>
      </div>
    </div>
    <div class="reply-thread-content">

      
      <div class="reply-content">
        <span style="font-size: 0.865vw; font-weight: 300;">
          {{reply.content}}
        </span>
      </div>

    </div>


  </div>

  <div class="thread-footer">
  </div>

</div>


