
<div class="vertical-thread-container" [class.mat-elevation-z3]="true">
  
  <div class="thread-information" >
    <div>Name / Poster</div>
    <div style="margin-left: 30.5vw;">Replies</div>
    <div style="margin-left: 4.3vw;">Latest Post By</div>
  </div>
  <div class="thread" *ngFor="let thread of threads;" routerLink="/thread/{{thread.id}}" >
    <div class="thread-name">
      {{thread.threadName}}
      <br>
      <span style="font-size: 0.7vw">posted by {{thread.author.registeredUser.username}}, {{thread.dateOfCreation | date}}</span>

    </div>
    <div class="thread-comments">
      <span style="margin-left: 0.3vw; position: relative; top: 1vw"> Replies: 24 </span>
      
    </div>
    <div class="thread-latest-post">
      <span style="margin-left: 0.3vw; position: relative; top: 0.7vw">Username</span>
      <br>
      <span style="margin-left: 0.3vw; position: relative; top: 0.65vw;font-size: 0.6vw;">06.04.2019</span>
      
    </div>


  </div>

</div>