<div class="vertical-thread-container" [class.mat-elevation-z3]="true">
  <div class="thread-information" >
    <div>Name / Poster</div>
    <div style="margin-left: 30.5vw;">Comments</div>
    <div style="margin-left: 4.3vw;">Latest Post</div>
  </div>
  <div class="thread">
    <div class="thread-name">
      thread thread thread thread thread thread thread thread thread thread thread 
      <br>
      <span style="font-size: 0.7vw">posted by poster, 6/4/2019</span>

    </div>
    <div class="thread-comments">
      <span style="margin-left: 0.3vw; position: relative; top: 1vw"> Comments: 24 </span>
      
    </div>
    <div class="thread-latest-post">
      <span style="margin-left: 0.3vw; position: relative; top: 0.7vw">Username</span>
      <br>
      <span style="margin-left: 0.3vw; position: relative; top: 0.65vw;font-size: 0.6vw;">06.04.2019</span>
      
    </div>


  </div>

  <div class="thread">
    <div class="thread-name">
    </div>
    <div class="thread-comments">

    </div>
    <div class="thread-latest-post">
      
    </div>


  </div>
</div>